html, body{font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box;}
.hidden {
  line-height: 1px;
  font-size: 1px;
  position: absolute;
  left: -10000px;
  top: 0;
  overflow: hidden;
  text-indent: -30000px;
}
#main_banner {
  position: relative;
  z-index: 0;
  left: 0;
  .mb_box{
    position: relative;
    height: 560px;
    .slogon {
      position: relative;
      top: 75px;
      left: -15px;
      z-index: 1;
      max-width: 1400px;
      margin: 0 auto;
    }
  }
  .mb_imgbox {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    ul {
      overflow: hidden;
      width: 100%;
      li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-indent: -2000px;
        &:nth-child(1){
          background-image: url('../img/main/main2022_1.gif');
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.3);
          }
        }
      }
    }
  }
  .mb_slide {
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 5;
    .slide_box {
      position: relative;
      width: 100%;
      height: 100%;
      .my-container{
        position: absolute;
        width: 630px;
        height: 560px;
        right: 0;
        top: 0;
        overflow: hidden;
        .slide-list {
          position: absolute;
          height: 100%;
          width: 630px;
          height: 364px;
          right: 0;
          top: 80px;
          transition: all 0.3s ease;
          a {
            display: inline-block;
            text-decoration: none;
            width: 100%;
            height: 100%;
            .thumb {
              width: 100%;
              height: 100%;
              .photo {
                display: inline-block;
                width: 100%;
                height: 100%;
                img {
                  width: 100%;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }

        }
        .list-number {
          position: absolute;
          right: 85px;
          bottom: -41px;
          .number {
            display: inline-block;
            vertical-align: top;
            span {
              font-size: 1.125rem;
              font-weight: 300;
              color: #fff;
              margin: 0 5px;
              display: inline-block;
              line-height: 0;
              &:first-of-type {
                display: inline-block;
                width: 22px;
                height: 22px;
                line-height: 22px;
                background: #fff;
                text-align: center;
                font-weight: 400;
                color: #000;
                border-radius: 50%;
              }
            }
          }
        }
      }
      .btn {
        display: inline-block;
        position: absolute;
        bottom: 73px;
        right: 0;
        .pointer {
          width: auto;
          display: inline-block;
          margin-right: 5px;
          vertical-align: top;
          a {
            display: inline-block;
            width: 20px;
            height: 18px;
            text-indent: -9999px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            vertical-align: top;
            margin-top: 2px;
          }
          .prev_1 {
            background-image: url('../img/main/icon-left.png');
          }
          .next_1 {
            background-image: url('../img/main/icon-right.png');
          }
        }
      }
      .auto_btn {
        display: inline-block;
        vertical-align: top;
        a {
          float: left;
          display: block;
          width: 23px;
          height: 23px;
          background-repeat: no-repeat;
          background-position: left center;
        }
        .play {
          background-image: url('../img/main/icon-play.png');
        }
        .stop {
          background-image: url('../img/main/icon-stop.png');
        }
      }
    }
    .environment {
      position: absolute;
      left: 0;
      bottom: 76px;
      z-index: 0;
      .weather {
        width: 317px;
        border-radius: 60px;
        background-color: rgba(255,255,255,0.25);
        box-shadow: 0 0 0 0 rgb(0, 0, 0 / 10%), 0 2px 10px 0 rgb(0, 0, 0 / 10%);
        padding: 18px 35px;
        & > div {
          display: inline-block;
          small {
            font-size: 0.95rem;
            font-weight: 400;
            color: #fff;
            line-height: normal;
          }
          p {
            padding-top: 5px;
            font-size: 1.5rem;
            font-weight: 400;
            color: #fff;
            line-height: normal;
          }
        }
        .weather-box {
          padding-left: 35px;
          padding-right: 25px;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 51px;
            background-color: rgba(255, 255, 255, 0.5);
            top: 6px;
            right: 0;
          }

        }
        .fine_dust {
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }
  }
}
.main_container {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 26px;
  left: 0;
  background-image: url('../img/main/bg_pattern2.png');
  background-repeat: repeat;
  background-position: 0 12px;
  .mc_box {
    height: auto;
    margin: 0 auto;
    position: relative;
    .mc_mid {
      max-width: 1430px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 23px;
      padding: 0 15px;
      box-sizing: border-box;
      overflow: auto;
      .main_search {
        display: inline-block;
        width: 45%;
        .search_input {
          width: 100%;
          input[name=search] {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 0.9rem;
            font-weight: 400;
          }
          fieldset {
            position: relative;
            padding: 5px;
            background: url('../img/main/main_search_bg.gif') no-repeat center;
            box-sizing: border-box;
            legend, .hidden {
              line-height: 1px;
              font-size: 1px;
              position: absolute;
              left: -10000px;
              top: 0;
              overflow: hidden;
              text-indent: -30000px;
            }
              input[name=sr] {
                width: 100%;
                height: 48px;
                padding: 0 50px 0 15px;
                font-size: 15px;
                color: #777;
                box-sizing: border-box;
              }
              input[type=submit] {
                background-image: url('../img/main/icons-search-30.png');
                background-repeat: no-repeat;
                position: absolute;
                right: 15px;
                top: 13px;
                z-index: 5;
                cursor: pointer;
                width: 30px;
                height: 30px;
                padding: 0;
                border: 0;
                background-color: transparent;
                text-indent: -9999px;
              }
            }
          }
        }
      .sns_list {
        display: inline-block;
        width: 49.6%;
        margin-left: 5%;
        section {
          display: inline-block;
          margin-right: 4.4%;
          vertical-align: middle;
          h4 {
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 3px;
            color: #003b9f;
          }
          p {
            font-size: 0.93rem;
            font-weight: 350;
            color: #333;
          }
        }
        ul {
          display: inline-block;
          vertical-align: middle;
          li{
            display: inline-block;
            margin-left: 10px;
            a {
              background-repeat: no-repeat;
              border-radius: 50%;
              display: block;
              height: 47px;
              width: 47px;
              text-align: center;
              text-indent: -9999px;
            }
            &:first-child  {
              margin-left: 0;
              a {
                background-image: url('../img/section1/ic_facebook@2x.png');
              }
            }
            &:nth-child(2) a {
              background-image: url('../img/section1/ic_kakaoch@2x.png');
            }
            &:nth-child(3) a {
              background-image: url('../img/section1/ic_blog@2x.png');
            }
            &:nth-child(4) a {
              background-image: url('../img/section1/ic_youtube@2x.png');
            }
            &:nth-child(5) a {
              background-image: url('../img/section1/ic_kakao@2x.png');
            }
            &:nth-child(6) a {
              background-image: url('../img/section1/ic_kakaotv@2x.png');
            }
            &:nth-child(7) a {
              background-image: url('../img/section1/ic_insta@2x.png');
            }
            &:nth-child(8) a {
              background-image: url('../img/section1/ic_naver@2x.png');
            }
          }
        }
      }
    }
    .news {
      float: left;
      width: 50%;
      padding-right: 2%;
      box-sizing: border-box;
      .main_tab {
        position: relative;
        width: 100%;
        height: auto;
        dt {
          position: absolute;
          top: 0;
          z-index: 6;
          &.tab1 {
            left: 0;
            a {
              font-size: 1.375rem;
              color: #333;
              font-weight: 350;
              display: block;
              width: 100%;
              text-decoration: none;
              &.click {
                color: #0643a3;
                font-weight: 500;
              }
            }
          }
        }
        dd {
          display: block;
          height: 250px;
          position: relative;
          padding: 50px 10px 0;
          .issue {
            position: relative;
            height: 75px;
            padding-left: 110px;
            font-size: 0.929em;
            box-sizing: border-box;
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: #d7d7d7;
              left: 0;
              top: 84px;
            }
            section {
              position: absolute;
              top: 0;
              left: 0;
              text-align: center;
              padding-left: 10px;
              display: inline-block;
              h1 {
                color: #003b9f;
                font-family: Roboto;
                font-size: 50px;
                margin: 0;
                line-height: 53px;
              }
              p {
                font-size: 14px;
                margin: 0;
                color: #5a5a5a;
              }
            }
            a {
              overflow: hidden;
              display: block;
              width: 100%;
              text-decoration: none;
              white-space: nowrap;
              text-overflow: ellipsis;
              padding-top: 10px;
              font-family: 'Noto Sans KR', sans-serif;
              font-size: 0.9rem;
              font-weight: 400;
              color: #5a5a5a;
              strong {
                display: block;
                color: #222;
                font-size: 1.125em;
                font-weight: 400;
                width: 100%;
                margin: 0 0 10px 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
        }
          ul {
            width: 100%;
            padding: 15px 0 0 0;
            li {
              position: relative;
              padding-left: 10px;
              box-sizing: border-box;
              .subject {
                width: 100%;
                padding: 0 80px 0 15px;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                a {
                  overflow: hidden;
                  display: block;
                  width: 100%;
                  padding: 5px 0;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  font-size: 15px;
                  text-decoration: none;
                  color: #5a5a5a;
                }
              }
              .date {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px 0;
                color: #666666;
                font-size: 14px;
                font-weight: 300
              }
            }
          }
          .btn {
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 36px;
            height: 36px;
            background-image: url('../img/section1/btn_more_notice.png');
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
